.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
  background-color: #0F172A;
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
  background-color: #0F172A;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
    background-color: #0F172A;
  }
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
    background-color: #0F172A;
  }
  .cart-heading {
    font-size: 32px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}


.remove-all-btn {
  display: flex;
  align-self: flex-end;
  color: #0b69ff;
  background: transparent;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .remove-all-btn {
    font-size: 16px;
  }
}
