.header {
  padding: 12px;
  height: 80px;
  width:100vw;
  display: flex;
  justify-content: space-between;
  background-color: #1E293B;
}
.logo {
  display: none;
}
@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 1px solid rgb(169, 167, 167);
    background-color: #1E293B;
  }
  .Links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color:black;
  }
  .cart-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 16px;
  color:black
  }

  .logout-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black
  }
  .website-logo {
    display: none;
  }
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    display: none;
  }
  .list-item {
    font-size: 12px;
  }
}
.nav-links {
  width: 300px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Links {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
}
.logout-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.cart-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 16px;
}
