.bg-container {
  background-image: url('https://res.cloudinary.com/datm0tjmq/image/upload/v1754149997/Screenshot_2025-08-02_211512_p0tuhw.png');
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container {
  padding: 20px;
  width: 400px;
  height: 400px;
  border-radius: 8px;
  background-color: #0F172A;
  display: flex;
  flex-direction: column;
}
.website-logo {
  align-self: center;
  width: 80px;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 2px;
}
.input-label {
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0.5px;
}
.check-box {
  align-self: flex-start;
  margin-bottom: 15px;
}
.login-button {
  border-radius: 6px;
  background-color: #088c03;
  color: #ffffff;
  padding: 8px;
  border: none;
  outline: none;
}
.error-message {
  color: #ef4444;
  font-size: 12px;
}
.password-input-filed{
  width: 100%;
  padding: 14px 16px;
  font-size: 15px;
  color: #1e293b;
  background-color: #f1f5f9;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.username-input-filed{
  width: 100%;
  padding: 14px 16px;
  font-size: 15px;
  color: #1e293b;
  background-color: #f1f5f9;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.password-input-field::placeholder{
  color: #94a3b8;
}
.username-input-filed::placeholder {
  color: #94a3b8;
}